
.movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie {
	flex: 0 1 18%;
	width: 250px;
	margin: 5px;
	justify-content: space-between;
	flex-direction: column;
	display: flex;
}

.movie img {
	width: 100%;
}

.movie .caption {

}
