<html>
<head>
	<title>My Movie Collection</title>
	#parse("util/common-head.vm")

	<script type="text/javascript">

	</script>
</head>
<body>
#parse("util/header.vm")
<div class="container">
	<h3>Collection: $collection.name</h3>
	#foreach($movie in $collection.movies)
	<p>$movie.title</p>
	#end
</div>

</body>
</html>